models/states/checkpoint_best_ESM2_model.pth filter=lfs diff=lfs merge=lfs -text
models/states/checkpoint_best_GraphTransformer_model.pth filter=lfs diff=lfs merge=lfs -text
models/states/checkpoint_best_Hybrid_model.pth filter=lfs diff=lfs merge=lfs -text
