src/scwrl/
src/alphafold/
notebooks/experimental/scratch.ipynb
models/chatgpt.py
models/perplexity.py
models/train_partitions/*
models/test_partitions/*
models/states/checkpoint_best_ESM2_model.pth
models/states/checkpoint_best_GraphTransformer_model.pth
models/states/checkpoint_best_Hybrid_model.pth
ncbi-blast-2.15.0+-x64-linux.tar.gz
